.settingsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.error {
  color: red;
  margin-bottom: 10px;
}


.paper {
  padding: 1rem;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  margin-right: auto;
  margin-left: auto;
}


.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formGroup {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}
.formId {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  width: 100%;
};

.tabButton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 48%;
  margin-bottom: 30px;
};
.houseNameInput {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  // border: 1px solid #ccc;
  margin-top: 10px;
  margin-right: auto;
}

.addHouseButton {
  padding: 10px 20px;
  margin-top: 20px;
  width: 100%;
  // margin-right: auto;
  // margin-left: auto;
}

.colorInput {
  width: 15%;
  padding: 10px;
  border-radius: 8px;
  // border: 1px solid #ccc;
  margin-top: 10px;
  // margin-right: auto;
}

.formButton {
  padding: 10px 20px;
  margin-top: 20px;
}

.studentList {
  margin-top: 20px;
}

.studentList h2 {
  margin-bottom: 10px;
}

.studentList ul {
  list-style-type: none;
  padding: 0;
}

.studentList li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.toggleButton {
  &:hover {
    opacity: 0.8;
  }
  margin-top: 20px;
  width: 100%;
  margin-right:auto;
  margin-left: auto;
}

.toggleButtonGroup {
  width: 100%;
  height: 100%;
  display:block;
};
.formGroupToggle {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}